{{!-- views/signup.handlebars --}}
<h1>Sign Up</h1>
<div class="signup-form">
  <form action="/api/signup" method="POST">
    <input type="text" name="username" placeholder="Username">
    <input type="email" name="email" placeholder="Email">
    <input type="password" name="password" placeholder="Password">
    <button type="submit">Sign Up</button>
  </form>
</div>
